* {
  font-family: Roboto, Arial, sans-serif;
}
h1 {
  color: black;
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;

}
nav {
  background-color: aqua;
  font-size: 1.5rem;
  height: 50px;
  display: flex;
  justify-content: left;
}
